/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root 변수 */
:root {
  --button-primary-color: #b9daff; /*기본 버튼 색상(연하늘)*/
  --button-hover-color: rgba(93, 169, 255, 1);
  --button-hover-color2: linear-gradient(
    90deg,
    rgba(247, 148, 221, 1) 0%,
    rgba(100, 149, 237, 1) 100%
  );
  --button-padding: 10px 25px;
  --button-font-size: 16px;
  --button-text-color: #fff;
  --button-border-radius: 5px;
}

/* 2. HTML, Body 기본 스타일 */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background-color: #fff;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. 이미지, 버튼, 링크 등 요소 기본 스타일 */
img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* 4. 리스트 스타일 제거 */
ul,
ol {
  list-style: none;
}

/* 5. 기본 박스 레이아웃 기준 설정 */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 폰트 */
.hurricane-regular {
  font-family: "Hurricane", cursive;
  font-weight: 400;
  font-style: normal;
}

/* 헤더 header */

header {
  position: fixed;
  width: 100%;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: fixed;
}

.nav-menu {
  padding: 10px;
  cursor: pointer;
}

.nav-left li {
  display: none;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}

.nav-right a {
  padding: 10px;
}

/* 메인 main */

.hero-section {
  width: 100%;
  background: linear-gradient(to bottom, #c9e1f9, #bcdff5);

  /* background-image: url(./img/flower.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50%; */
}

/* .hero-content {
  width: 100%;
} */

/* .video_wrapper {
  max-width: 600px;
  height: 530px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.video_wrapper video {
  width: 600px;
  height: 530px;
  object-fit: cover;
  object-position: center 40%;
  cursor: pointer;
}
 */

.main-img > img {
  height: 100%;
  margin: 0 auto;
}

.product-showcase {
  width: 100%;
  height: auto;
  display: flex;
}

.product-showcase img {
  width: 50%;
  height: auto;
  /* object-fit: cover; */
}

.promotion-txt {
  width: 50%;
  display: flex;
}

.promotion-info {
  margin: auto; /* 핵심: 가로 세로 모두 중앙 정렬 효과 */
  text-align: center;
}

/* .promotion-info p {
  display: flex;
  justify-content: center;
} */

.promotion-info p:first-child {
  font-size: 3.1rem;
  font-family: "Cherry Bomb One", system-ui;
  color: #f08080;
}

.sun-buy-now {
  background-color: var(--button-primary-color);
  color: var(--button-text-color);
  font-size: var(--button-font-size);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  transition: 0.3s;
  margin-top: 50px;
}

.sun-buy-now:hover {
  background: var(--button-hover-color);
  transition: 0.3s;
}

/* best item */

.best-items img {
  margin: 0 auto;
}

.best-items h2 {
  text-align: center;
  font-size: 2.5rem;
  /* color: white; */
  /* margin: 20px 0; */
  padding: 20px 0;
}

/* best item 슬라이드 */
/* .best-items .main-best-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.main-best-item {
  overflow: hidden;
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.main-best-item-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 200%; 
}

.slider-item {
  width: 100%; 
  padding: 20px;
  box-sizing: border-box;

  flex-shrink: 0;
}

.slider-item img {
  width: 100%;
  height: auto;
} */

.main-best-item-slider {
  position: relative;
  width: 100%;
  max-width: 768px;
  margin: auto;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.slider-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-item img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
}

.slider-item.active {
  opacity: 1;
  z-index: 1;
}

/* swiper slide CSS */

.swiper {
  max-width: 90%;
}

.swiper-slide {
  width: 20%;
}

.product_info {
  min-height: 100px;
}

.swiper-slide img {
  width: 400px;
  height: 400px;
}

.swiper-slide p {
  text-align: center;
}

.product-name {
  height: 3em;
  margin-bottom: 0.4em;
  line-height: 1.5;
}

.product-price {
  margin-bottom: 0.8em;
}

.show-more {
  margin-top: 30px;
}

/* 전체 막대 배경 */
.swiper-pagination-progressbar {
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* 진행되는 막대 색 */
.swiper-pagination-progressbar-fill {
  background: #c6008e !important; /* 원하는 브랜드 색 */
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  color: #bcdff5;
  display: block !important;
}
